@model PurchaseMeNow.Models.ViewModels.OrderDetailsVM
@using PurchaseMeNow.Utility



<form method="post">
    <input hidden asp-for="OrderHeader.Id" />
    <br />
    <div class="backgroundWhite container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0 row container">
                <div class="col-12 d-none d-md-block col-md-6 pb-1">
                    <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                </div>
                <div class="col-12 col-md-4 offset-md-2 text-right">
                    <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="btn btn-primary">Back to Orders</a>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Requester Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    <input readonly type="text" class="form-control" asp-for="@Model.OrderHeader.ApplicationUser.Name" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    <input id="txtName" readonly type="text" class="form-control" asp-for="@Model.OrderHeader.ApplicationUser.Email" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Location</div>
                                <div class="col-9">
                                    <input id="txtName" readonly type="text" class="form-control" asp-for="@Model.OrderHeader.Location.Name" />
                                </div>
                            </div>


                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">
                                    <input value="@Model.OrderHeader.OrderDate.ToLongDateString()" type="text" readonly class="form-control" />
                                </div>
                            </div>


                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Order Summary</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var details in Model.OrderDetails)
                                {

                                    <li class="list-group-item d-flex justify-content-between border-dark">
                                        <div class="row container">
                                            <div class="col-9">
                                                <input type="hidden" asp-for="@details.Id" />
                                                <h6 class="my-0">
                                                    @details.Product.Name
                                                    <strong> x @details.Count</strong>
                                                </h6>

                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>

                            <br />
                            <label class="badge-info form-control text-center"><em> Status: @Model.OrderHeader.OrderStatus </em></label>
                            @if (Model.OrderHeader.OrderStatus == SD.OrderStatusInProcess && User.IsInRole(SD.Role_Admin))
                            {

                                <input type="submit" value="Ship Order"
                                       class="btn btn-primary form-control"
                                       formaction="/Admin/Order/ShipOrder" formmethod="post" />

                            }

                            @if (Model.OrderHeader.OrderStatus == SD.OrderStatusPending && (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Coordinator)))
                            {
                                <a asp-action="StartProcessing" asp-route-id="@Model.OrderHeader.Id"
                                   class="btn btn-success form-control"><strong>Approve Order</strong></a>
                            }

                            @if ((Model.OrderHeader.OrderStatus == SD.OrderStatusShipped) && (User.IsInRole(SD.Role_Admin)  || User.IsInRole(SD.Role_Coordinator) ||
                                    Model.OrderingClient))
                            {
                               
                                <a asp-action="ConfirmDelivery" asp-route-id="@Model.OrderHeader.Id"
                                   class="btn btn-success form-control"><strong>Confirm Delivery</strong></a>
                            }

                            @if ((Model.OrderHeader.OrderStatus != SD.OrderStatusRejected && Model.OrderHeader.OrderStatus != SD.OrderStatusShipped
                               && Model.OrderHeader.OrderStatus != SD.OrderStatusDelivered)
                               && (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Coordinator)))
                            {

                                <a asp-action="CancelOrder" asp-route-id="@Model.OrderHeader.Id"
                                   class="btn btn-danger form-control mt-1"><strong>Cancel Order</strong></a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>